body{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 32, 32);
    overflow-x:hidden;
    }
.swiper-button-prev :root {
    --swiper-theme-color: #c34335;
}
.swiper-button-prev{
    margin-top: 20px;
    margin-left: 12%;
}
.swiper-button-next{
    margin-top: 20px;
    margin-right: 12%;
}
html, body {
    margin: 0;
    padding: 0;
}
.slider__img {
    width: 65%;
    display: block;
    margin: 0 auto; 
    float:inherit;
    height: 450px;
    object-fit: cover;
    object-position: 0;
}
.swiper-container{
    height: 490px;
    position: absolute;
}
.block{
    width: 100%;
    position: fixed;
    z-index: 6;
    background-color:  rgb(36, 32, 32);
}
.menuList{
    padding: 0;
    margin: 0;
}
.menu{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.navMenu{
    display:inline-block;
    margin-top: 10px;
}
ul.menuList li{
    font-size: 20px;
    position: relative;
    display: inline-block;

}
a{
    text-decoration: none;
    color: #da4838;
    font-size: 25px;
    font-weight: 300;
}
ul.menuList li a:hover{
    color: #da4838;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
#field_error{
    margin-left: auto;
    margin-right: auto;
    display: none;
    position: fixed;
    background-color: #b4392ba1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgba(241, 247, 247, 0.897);
    font-weight: bold;
}
#field_warning{
    margin-left: auto;
    margin-right: auto;
    display: none;
    width: 200px;
    text-align: center;
    background-color: #b4392ba1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgba(241, 247, 247, 0.897);
    font-weight: bold;
}
#field_warning p{
    padding: 15px;
}
#warning_pages{
    display: none;
    width: 200px;
    text-align: center;
    margin-left: 44%;
    background-color: #b4392ba1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgba(241, 247, 247, 0.897);
    font-weight: bold;
}
#warning_pages p{
    padding: 15px;
}
.dropdown-content{
   
    display: none;
    position: absolute;
    background-color: #d63f2e50;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: rgba(252, 252, 252, 0.575);
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(252, 252, 252, 0.247);
    color: #962a1ee3;
    font-size: 18px;
    font-weight: bold;
}
.menuLi:hover .dropdown-content {display: block;}

.split {
    border-color: #c33b2b8c;
    width: 100%; 
    margin-top: 20px;
}
.menu__inline{
    width: 100%;
}
.search{
    display:inline-block;
    float: right;
}
.search__btn{
    margin-left: 10px;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    border: 1px solid #c33b2b8c;
    color: #da4838;
    font-size: 25px;
    background-color: rgb(36, 32, 32);
}
.search__btn:hover{
    padding: 7px, 15px, 7px, 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #c33b2b8c;
    cursor: pointer;
    text-decoration: none;
}
.fieldSearch{
    width: 200px;
    height: 35px;
    color: gray;
    background-color: rgba(255, 255, 255, 0.116);
    margin: 0pt;
    border-radius: 5px;
}
.splits{
    margin-left: 15px;
    margin-right: 15px;
    color: #da4838;
}
h1{
    color: #da4838;
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 35px;
}
.fieldFilter{
    color: #c0bab996;
}
.fieldFilter:hover{
    color: #da4838;
    cursor: pointer;
}
.fieldSort{
    color: #c0bab996;
}
.fieldSort:hover{
    color: #da4838;
    cursor: pointer;
}
.filter{
    margin-left: 6%;
    margin-bottom: 15px;
}
#films{
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-right: auto;
    }
.film{
    width: 25%;
    margin: 0px;
    margin-bottom: 40px;
}
.film__img{
    display:inline-block;
    width: 170px;
    height: 250px;
}
.film__image{
    border-radius: 5px;
    width: 170px;
    height: 250px;
}
.film__sessions{
    display:inline-block;
    position: absolute;
}
h3{
    margin: 0;
    color: #da4838;
    margin-left: 15px;
}
.sessions{
    width: 190px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 20px;
}
.session{
    width: 33%;
    color: rgba(253, 253, 253, 0.658);
    font-weight: bold;
}
.next__btn{
    margin-left: 10px;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    border: 1px solid #c33b2b8c;
    color: #da4838;
    font-size: 25px;
    background-color: rgb(36, 32, 32);
    margin-left: 48%;
    margin-bottom: 50px;

}
.next__btn:hover{
    padding: 7px, 15px, 7px, 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #c33b2b8c;
    cursor: pointer;
    text-decoration: none;
}
.gallery__{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: auto;
}
.gallery__picture{
    position: relative;
    overflow:hidden;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.gallery__picture img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    object-fit:cover;
}
.gallery__picture img:hover{ 
    width:320px;
    height:320px;
    cursor: pointer;
}
.gallery__picture img:active{ 
    width:320px;
    height:400px;
    cursor: pointer;
}
.gallery__picture:active{ 
    width:320px;
    height:400px;
    cursor: pointer;
}
.pages{
    text-align: center;
}
.page{
    display: inline;
    margin-right: 10px;
    color: #da4838;
    font-weight: bold;
    text-decoration: none;
}
.page:hover{
    cursor: pointer;
    font-size: 18px;
}
#big__picture{
    position: relative;
    overflow:hidden;
    width: 400px;
    height: 500px;
    border-radius: 5px;
}
#big__picture img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 400px;
    height: 500px;
    object-fit:cover;
}
#location{
    position: sticky;
}
.leaflet-container {
    position: sticky;
    height: 400px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px #da4838;
    
}
#information{
    width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 23%;
    margin-right: auto;
}
.information__block{
width: 33%;
color: #f1f1f1af;
}
.information__block p:hover{
    cursor: pointer;
    color: #da4838;
}
.input{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.116);
    margin-right: 5px;
}
.price_rating{
    margin-left: 15px;
    margin-top: 15px;
    color: rgba(253, 253, 253, 0.658);
    font-weight: bold;
}
.path{
    margin-top: 20px;
    margin-left: 6%;
}
.path span{
    color: #da4838;
    font-size: 16px;  
}
.close-popup{
    position: absolute;
    top: 20px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.close-popup::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
    background-color: #646464;
}
.close-popup::after{
    background-color: #646464;
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
}
@media (max-width: 1640px){
    .film{
        width: 33%;
        margin: 0px;
        margin-bottom: 40px;
    }
    .gallery__{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery__picture{
        position: relative;
        overflow:hidden;
        width: 250px;
        height: 250px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .gallery__picture img{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:250px;
        height:250px;
        object-fit:cover;
    }
}
@media (max-width: 1370px){
    .gallery__picture{
        position: relative;
        overflow:hidden;
        width: 220px;
        height: 220px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .gallery__picture img{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:220px;
        height:220px;
        object-fit:cover;
    }
}
@media (max-width: 1640px){
    .film{
        width: 33%;
        margin: 0px;
        margin-bottom: 40px;
    }
}
@media (max-width: 1240px){
    .film{
        width: 50%;
        margin: 0px;
        margin-bottom: 40px;
    }
    .gallery__picture{
        position: relative;
        overflow:hidden;
        width: 180px;
        height: 180px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .gallery__picture img{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:180px;
        height:180px;
        object-fit:cover;
    }
    #information{
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }
    .information__block{
    width: 33%;
    color: #f1f1f1af;
    }
}
@media (max-width: 839px){
     .search{
        display:inline-block;
        margin-top: 10px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .film{
        width: 100%;
        margin: 0px;
        margin-bottom: 40px;
    }
    .film__img{
        display:inline-block;
        width: 250px;
        height: 350px;
    }
    .film__image{
        border-radius: 5px;
        width: 250px;
        height: 350px;
    }
    .film__sessions{
        display:inline-block;
        position: absolute;
    }
    h3{
        font-size: 30px;
        margin: 0;
        color: #da4838;
        margin-left: 15px;
    }
    .sessions{
        width: 190px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-top: 20px;
    }
    .session{
        width: 25%;
        color: rgba(253, 253, 253, 0.658);
        font-weight: bold;
        font-size: 20px;
        margin-right: 10px;
    }
    .information__block{
        text-align: center;
        width: 100%;
        color: #f1f1f1af;
    }
    #film__information{
        background-color: rgb(36, 32, 32);
        display: none;
        width: 90%;
        min-height: 600px;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 50%);
        z-index: 3;
        box-shadow: 0 0 10px #da4838;
        
    }
    .information__img{
        margin-left: 15px;
        margin-top: 15px;
        margin-right: 15px;
        width: 230px;
        height: 300px;
        display:inline-block;
    }
    .information__image{
        width: 230px;
        height: 300px;
        border-radius: 5px;
        }
    .information{
        display: none;
        margin-top: 15px;
        display: inline-block;
        position: absolute;
       
    }
    .description{
        width: 90%;
        margin-left: 15px;
        margin-top: 20px;
        color: rgba(253, 253, 253, 0.658);
    }
    .information{
        margin-top: 15px;
        display: inline-block;
        position: absolute;
       
    }
    .info{
         margin-left: 15px;
         color: rgba(253, 253, 253, 0.658);
         font-weight: bold;
    
    }
    .title{
        margin-left: 15px;
        color: #da4838;
        font-weight: bold;
        font-size: 24px;
    }
    .info__all{
        display: inline-block;
    }
    .info__sessions{
        width: 200px;
        margin: 0pt;
    }
    h3:hover{
        cursor: pointer;
    }
    #tickets__information{
        background-color: rgb(36, 32, 32);
        display: none;
        width: 90%;
        min-height: 600px;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 50%);
        z-index: 3;
        display: inline;
        box-shadow: 0 0 10px #da4838;
    }
    .your__tickets{
        color: rgba(253, 253, 253, 0.658);
        font-size: 24px;
        width: 50%;
        margin-left: 5%;
        margin-top: 40px;
        }
        .your__tickets img{
            width: 40%;
            height: 50%;
            border-radius: 5px;
        }
        .buy__btn{
            margin-top: 200px;
            border-radius: 5px;
            border: 1px solid #c33b2b8c;
            color: #da4838;
            font-size: 25px;
            background-color: rgb(36, 32, 32);
            margin-right: 100px;
        }
}
@media (min-width: 839px){
#film__information{
    background-color: rgb(36, 32, 32);
    display: none;
    width: 50%;
    min-height: 650px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 50%);
    z-index: 3;
    box-shadow: 0 0 10px #da4838;

}
.information__img{
    margin-left: 15px;
    margin-top: 15px;
    width: 270px;
    height: 400px;
    display:inline-block;
}
.information__image{
    width: 270px;
    height: 400px;
    border-radius: 5px;
    }
.information{
    margin-top: 15px;
    display: inline-block;
    position: absolute;
   
}
.info{
     margin-left: 15px;
     color: rgba(253, 253, 253, 0.658);
     font-weight: bold;

}
.title{
    margin-left: 15px;
    color: #da4838;
    font-weight: bold;
    font-size: 24px;
}
.info__all{
    display: inline-block;
}
.description{
    margin-top: 20px;
    margin-left: 15px;
    display: inline-block;
    color: rgba(253, 253, 253, 0.658);
}
.info__sessions{
    width: 200px;
    margin: 0pt;
}
h3:hover{
    cursor: pointer;
}

#tickets__information{
    background-color: rgb(36, 32, 32);
    display: none;
    width: 50%;
    min-height: 600px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 50%);
    z-index: 3;
    display: inline;
    box-shadow: 0 0 10px #da4838;
}
.your__tickets{
    color: rgba(253, 253, 253, 0.658);
    font-size: 20px;
    width: 40%;
    margin-left: 10%;
    margin-top: 40px;
    }
}
#hall{
    display: inline-block;
    height: 310px;
    width:54%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 40%;
    margin-top: 40px;
}
.seat{
    width: 6%;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #b4392ba1;
}
.seat:hover{
    background-color: #f0d786;
    cursor: pointer;
}
.title_tick{
    margin-left: 15px;
    margin-top: 20px;
    color: #da4838;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.tickets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.buy__btn{
    margin-top: 400px;
    border-radius: 5px;
    border: 1px solid #c33b2b8c;
    color: #da4838;
    font-size: 25px;
    background-color: rgb(36, 32, 32);
    margin-right: 100px;
}
.buy__btn:hover{
    padding: 7px, 15px, 7px, 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #c33b2b8c;
    cursor: pointer;
    text-decoration: none;
}
.your__tickets img{
    width: 50%;
    height: 70%;
    border-radius: 5px;
}
.info__sessions .sessions .session:hover{
    cursor: pointer;
    color: #da4838;
}
#comments{
    margin-left: 25%;
}
#comments label{
    color: rgba(253, 253, 253, 0.658);
    margin-bottom: 20px;
}
.comment{
    color:rgba(253, 253, 253, 0.658);
    border-width: 2px;
    border-color:#da4838;
}

footer p{
    color:#da4838;
    margin-left: 2%;
}
.comment img{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.comment__body{
    display: inline-block;
    margin-left: 10px;
}
.comments__name input{
    width: 65%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.116);
}
.comments__body textarea{
    width: 65%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.116);
}
.add__btn{
    margin-left: 10px;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    border: 1px solid #c33b2b8c;
    color: #da4838;
    font-size: 25px;
    background-color: rgb(36, 32, 32);
    margin-top: 15px;
    margin-bottom: 25px;
}
.add__btn:hover{
    padding: 7px, 15px, 7px, 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #c33b2b8c;
    cursor: pointer;
    text-decoration: none;
}
footer{
margin-left: 5%;
}